<p>It came to our attention that some combinations resulted in only one element when it should have resulted in more than one element (for example, the combination <i>air</i> + <i>pressure</i> should have resulted in <i>wind</i> <b>and</b> <i>atmosphere</i>, not only <i>atmosphere</i>).</p>

<p>The following elements were fixed:</p>
<ul>
	<li>- brick and pottery</li>
	<li>- campfire, charcoal and smoke</li>
	<li>- atmosphere and wind</li>	
	<li>- ash and erruption</li>
	<li>- glasses and mirror</li>
	<li>- algae and seaweed</li>
	<li>- cold and sickness</li>
	<li>- hourglass and time</li>
	<li>- snowball and snowman</li>
	<li>- energy, oxygen and sunflower</li>
	<li>- dog and livestock</li>										
</ul>

<p>Feel free to report any other <a href="/feedback">bugs</a>.</p>

<a href="/game">Play</a>