<div>
	------
</div>
<br />
<div>
	<a href='mxit://[communityportal]/RecommendPage?ItemId=10230670' type="mxit/service-navigation">Click to share this app with friends! :-)</a>
</div>
<br />	
<div>
	More Mxit: <%= @mixup_ad %>
</div>
<br />
<div>
	<mxit:advert auid="400808"/>
</div>
<br />
<div>
	<mxit:advert auid="401691"/>
</div>	