<p>MixLab is a game where you discover things by combinging other things. It is extremely easy to play -- just use your common sense and be creative! For example, what do you get when you mix <b>water</b> with <b>fire</b>? That's right, you get <b>steam</b>! Or what do you get when you mix <b>water</b> and more <b>water</b>? You get a lot of water, also known as a <b>sea</b>! There are hundreds of new things to discover, so starting mixing!</p>

<p>We are planning to add a lot of new features in the future, such as:</p>
<ul>
	<li>- High scores</li>
	<li>- Awards and badges</li>
	<li>- Cool graphics for all the elements</li>
	<li>- New combinations</li>
</ul>

<p>Hope you enjoy playing MixLab! Please feel free to give feedback to the developers. <a href="/feedback">Send a message through the app</a> or add <b>teamglio</b> as a contact in Mxit to chat.</p>

<p>Credits: MixLab and many of its combinations are inspired by <a href="http://littlealchemy.com/" onclick="window.open(this.href)">Little Alchemy</a> :-)</p>

<a href="/game">Play</a>