<p>Hi there, thank you for using <b>imagik</b>, a simple app for searching <a href="http://www.flickr.com/" onclick="window.open(this.href)">Flickr</a> for images. The app is not affiliated with Flickr, or its users, in any way.</p>

<p>Safe searching is enabled, so don't try to search for pornography or other obscene images -- it will not work.</p>

<p>Please feel free to give <a href="/feedback">feedback</a> to the developers.</p>

<a href="/">Play</a>

:-)