<html>
<head>
<body>
	<div>
		<b>MixLab</b> | Discoveries: <%= discoveries.size %> / 360 | <a href="/help">Help</a>
	</div>
	<div>
		------
	</div>	
	<div>
		<%= yield %>
	</div>
	<br />
	<%= erb :footer %>
</body>
</html>