<html>
<head>
<body>
<br />
	<div>
		<mxit:advert auid="407367"/>
	</div>	
	<div>
		------
	</div>
	<br />	
	<div>
		<b>MixLab</b> | Discoveries: <%= discoveries.size %> / 360 | <a href="/hint">Hint</a> | <a href="/leaderboard/top_ten">Top Ten</a> | <a href="/help">Help</a>
	</div>	
	<div>
		<%= yield %>
	</div>
	<br />
	<%= erb :footer %>
</body>
</html>