<h1>Leaderboard: Top Ten</h1>	
<div>
	<ol>
	<% LeaderboardEntry.all.each do |entry| %>
			<li><%= entry.nickname %> - <%= entry.discoveries %> discoveries </li>
	<% end %>
	</ol>
	<p>This leaderboard is refreshed every hour.</p>	
</div>
<a href='<%= url '/game' %>'>Back</a>
