<h1>Leaderboard: Top Ten</h1>	
<div>
	<ol>
	<% Leaderboard.top_ten.each do |key, value| %>
			<li><%= key %> - <%= value %> discoveries </li>
	<% end %>
	</ol>
	<p>This leaderboard is refreshed every 15 minutes.</p>	
</div>
<a href='<%= url '/game' %>'>Back</a>
